/* ------------------------------------ */
/* Mixin Mediaquerys Mobile First */
/* ------------------------------------ */

@mixin from($bp) {
  @if map-has-key($breakpoints, $bp) {
    @media screen and (min-width: map_get($breakpoints,$bp)) {
      @content;
    }
  } @else {
    @media screen and (min-width: $bp) {
      @content;
    }
  }
}

@mixin landscape($bp){
  @media screen and (min-width: map_get($breakpoints,$bp)) and (orientation:landscape){
    @content;
  }
}

@mixin portrait($bp){
  @media screen and (min-width: map_get($breakpoints,$bp)) and (orientation:portrait){
    @content;
  }
}
