.Btn {

  border: 2px solid black;
  background: transparent;
  cursor: pointer;
  position: relative;

  &-link {
    width: 100%;
    height: 100%;
    display: block;
    padding: .8rem 1rem;


    @include from(tablet){
      font-size: 1.2rem;
    }
  }

  &::after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: #ebf8ff;
    transform: scaleY(0);
    transform-origin: bottom;
    transition: all .5s;
    z-index: $z-back;
  }



}