.Nav{
  width: 75vw;
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  transform: translateX(75vw);
  transition: all .5s;
  background: black;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: z-fixed;

  @include from(phablet){
    width: 50vw;
    transform: translateX(50vw);
  }
  @include from(tablet){
    width: 30vw;
    transform: translateX(30vw);
  }
  @include from(desktop){
    width: 30vw;
    transform: translateX(30vw);
  }
  @include from(x-desktop){
    width: 15vw;
    transform: translateX(15vw);
    justify-content: flex-start;
    padding-top: 5rem;
  }


  &-close{
    position: fixed;
    top: .5rem;
    right: 1rem;
    display:flex;
    justify-content:center;
    align-items:center;
    color: white;
    font-size: 2.5rem;
    cursor: pointer;

  }
  &-list,&-listSecondary{
    width: auto;
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items: flex-start;

  }

  &-list{

    &Secondary{
      margin-top: 1rem;
    }
  }

  &-item{
    position: relative;

    &::after{
      content: '';
      position: absolute;
      top: 0;
      left:0;
      background: #ebf8ff;
      width: 100%;
      height: 100%;
      transform: scaleX(0);
      transform-origin: left;
      z-index: $z-back;
      transition: all .5s;
    }

    &Secondary{
      margin-bottom:.5rem;
    }
  }

  &-link{
    display:block;
    padding: .3rem 1rem;
    transition: all .2s;
    font-weight: $weight-medium;
    font-size: 2em;

    @include landscape(phablet){
      padding: .5rem 1rem;
      font-size: 1.5em;

    }
    @include from(tablet){
      padding: .7rem 1rem;
      font-size: 2em;
    }


    &Secondary{
      padding: 1rem;
      font-size: .95em;

      @include from(tablet){
          font-size:1.2em;
      }
    }
  }

}