.Grid.is-hidden{
  transform: translateX(-75vw);
  opacity : .7;

  @include from(phablet){
    transform: translateX(-50vw);

  }

  @include from(tablet){
    transform: translateX(-30vw);

  }
  @include from(desktop){
    transform: translateX(-30vw);

  }
  @include from(x-desktop){
    transform: translateX(-15vw);

  }
}

.Grid-item-overlay:hover{
  opacity: 1;
}
.Nav.is-show{
  transform: translateX(0);
}


.Body.is-block{
  overflow-y: hidden;
}



.Header-toggler-hover:hover{
  opacity: 1;
}

.Nav-link:hover{
  color: black;
}
.Btn:hover::after {
  transform: scaleY(1);
}
.Nav-item:hover::after{
  transform: scaleX(1);
}