.Header{
  width: 100%;
  height: 4rem;
  padding-right: 1rem;
  padding-left: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;



  &-logo{
    font-size: 1.5em;
    line-height: 1em;
    border: 2px solid black;
    padding: .5rem;
    font-weight: $weight-medium;
    cursor: pointer;
  }

  &-toggler{
    width: 4rem;
    height: 2.5rem;
    border:2px solid black;
    cursor: pointer;
    display:flex;
    flex-direction: column;
    justify-content:space-evenly;
    align-items:center;
    position: relative;

    &-hover{
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background: #ebf8ff;
      opacity: 0;
      display:flex;
      justify-content:center;
      align-items:center;
      transition: all .5s;


    }

    &-bars{
      width: 80%;
      height: 2px;
      background: black;
    }
  }

}