.Info {
  width: 100%;
  height: calc(100vh - 7rem);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-right: 1rem;
  padding-left: 1rem;

  &-text {
    font-size: 2.5rem;

    @include from(phablet) {
      font-size:1.8rem;
    }
    @include landscape(phablet){
      font-size: 1.5rem;
    }
    @include from(tablet){
      font-size:2.5rem;
    }
    @include from(desktop) {
      font-size: 4rem;
    }
  }

  &-buttons {
    margin-top: 1rem;

    &-button {
      margin-right: .2rem;
    }
  }
}