.Container {
    width: 100%;
    height: 100%;

    @include from(desktop){
        width:100vw;
        height:100vh;
    }
}

.Grid{
    width: 100%;
    height: 100%;
    min-height: 100vh;
    display: grid;
    grid-template-areas: 'profile' 'carousel' 'footer';
    grid-template-rows: repeat(3,auto);
    transition: all .5s;

    @include from(desktop){
        grid-template-areas: 'carousel profile' 'carousel footer';
        grid-template-rows: 1fr;
        grid-template-columns: 1fr 1fr;
    }



    &-carousel{
        width: 100%;
        height: 500px;
        grid-area: carousel;
        background: skyblue;
        display: grid;
        grid-template-rows: repeat(5,250px);
        overflow: hidden;

        @include from(tablet){
            width: 100%;
            height: 600px;
            grid-template-rows: repeat(5,300px);
        }
        @include from(desktop){
            width: 100%;
            height: 100vh;
            grid-template-rows: repeat(5,50vh);
        }

    }

    &-profile{
        grid-area: profile;

    }


    &-footer{
        grid-area: footer;
    }
}