.Grid-item{
  width: 100%;
  height: 100%;
  position: relative;
  animation: carousel 20s infinite alternate;

  &-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &-overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left:0;
    background: rgba(0,0,0,.6);
    color: white;
    display:flex;
    justify-content:flex-start;
    align-items:center;
    opacity: 0;
    transition: opacity .3s;

    &-wrapper{
      padding-left: 2rem;
    }

    &-tittle{
      font-size: 2.2em;
      padding-bottom: 1rem;
    }

    &-description{
      font-size: 1em;
      width: 60%;
    }
  }
}